/* style for every border  */
* {
    /* background-color: black; */
}

.border {
    border: 1px solid red;
}

/* style for all orange color  button  */
.same-button {
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}

/* *{
    background-color: black ;
} */
/* style for all paragraph  */
.paragraph {
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    /* color: rgba(255, 255, 255, 0.5); */
}

/* style for first page  */
.section1 {

    height: 715px;
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    /* background: rgb(185, 185, 185); */
}

.nav {

    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-between;
    display: flex;
    align-items: center;

}

.fitness {
    font-size: 36px;
    color: rgb(230, 83, 60);
    font-weight: 800;

}




.navigation a {
    text-decoration: none;
    color: green;
}

.navigation {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 39px;
}

.navigation:hover {
    background: rgb(230, 83, 60);
}

.taskbar2 {
    position: static;
    width: 465px;
    height: 46px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: none;
    box-sizing: border-box;
    border: 1px solid purple;
    border-radius: 39px;
}


.sec1-div {
    display: flex;
    gap: 50px;
    justify-content: center;

}

.sec1-div1>h1 {
    font-size: 78px;
    font-weight: 900;
    margin-bottom: 20px;
}

.shape {
    font-weight: 400;
    font-size: 78px;
}

.download-app {
    width: 224px;
    height: 54px;
    border-radius: 42px;
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}

.sec1-div1 {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    /* margin-left: 150px; */
}


.mini1 {
    width: 193px;
    height: 80px;
    margin-top: 145px;
    margin-left: 250px;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding-left: 20px;
    padding-top: 10px;

}

.mini1>h4 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
    margin-top: 5px;
    margin-bottom: -12px;
    text-align: left;

}

.mini1>p {

    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;

}

.mini2 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 180px;
    height: 90px;
    margin-top: 190px;
    margin-left: -50px;
    padding-left: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}

.circle {
    height: 30px;
    width: 30px;
    background-color: orangered;
    border-radius: 100%;
}

.mini2 h4 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: -12px;

}

.mini2 p {

    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;

}

.sec1-div2 {
    width: 349px;
    height: 580px;
    background-image: url(../assets/Images\ 2.png);
    background-repeat: no-repeat;
}

/* style for page 2  */

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.section2>h2 {
    font-weight: 900;
    font-size: 48px;
    color: rgb(255, 255, 255);
}

.section2>p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-top: -20px;
    margin-bottom: 30px;
}

.section2 p {
    text-align: center;
}

.sec2-card h4 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: -10px;
}

.round-img {
    border-radius: 100%;
    border: 2px solid gray;
}

.sec2-card {
    display: flex;
    width: 75%;
}

.sec2-card>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 10px;
}

/* style for page 3 */
.sec3-div {

    border-radius: 16px;
    display: flex;
    width: 75%;
    height: 355px;
    margin: 50px auto;
    background: rgb(34, 34, 34);

}

.sec3-div1 {
    width: 50%;
    padding: 5%;
}

.sec3-div1>h3 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 5px;
    margin-top: -20px;

}

.sec3-div1>p {
    padding-bottom: 20px;
}

.sec3-div2>img {
    width: 366px;
    height: 312px;
    border-radius: 18px;
    margin: 20px 20px 20px 0;
}

/* style for page 4 */
.sec4-div {

    width: 75%;
    margin: 10px auto;

}

.exercise1 {
    grid-area: exercise1;
}

.exercise2 {
    grid-area: exercise2;
}

.exercise3 {
    grid-area: exercise3;
}

.exercise4 {
    grid-area: exercise4;
}

.exercise5 {
    grid-area: exercise5;
}

.exercise6 {
    grid-area: exercise6;
    width: auto;
    height: auto;
}

.six-img {
    height: 70%;
    width: 100%;
    display: grid;
    grid-template-areas:
        "exercise1 exercise2 exercise2 exercise2 exercise3"
        "exercise4 exercise4 exercise5 exercise6 exercise6";
}

/* style for page 5 */


.sec5>h3 {
    font-size: 48px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-left: 30%;
    margin-bottom: 16px;
}

.sec5>p {
    margin-left: 30%;
    margin-bottom: 70px;
}

.sec5-div {
    display: flex;
}

/* sec5 table  */
.table {
    width: 50%;
    color: rgb(255, 255, 255);
    background: rgb(34, 34, 34);
}

.table>h4 {
    font-size: 28px;
    font-weight: 900;
    margin-left: 24%;
}



.bmi-chart-table {
    width: 310px;
    height: 216px;
    border-collapse: collapse;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.th {
    height: 45px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    padding-left: 6px;
}

.td {

    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px 8px;
}

/* sec5 calculate */
.calculate {
    width: 50%;
    background: rgb(34, 34, 34);
}

.calculate>h4 {
    font-size: 28px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-left: 10px;
}

.calculate>p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    padding-right: 30%;
    margin-left: 10px;
}

.calculate-table {
    border-collapse: separate;
    border-spacing: 10px;
}

.activity-sex {
    width: 100%;
}

.form-td {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 40px 12px 20px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;

}

.table-row {}

.form-td>input {
    border: none;
    background: rgba(255, 255, 255, 0.1);
    flex: none;
}

.select {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
}

.calculate-button {
    margin: 25px 0 30px 10px;
}

/* style for page 6 */
.section6 {
    height: 930px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.section6>h3 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.section6>p {
    text-align: center;
    margin-bottom: 40px;
}

.meet-team {
    height: 604px;
    width: 1050px;
    padding: 20px;
    background-color: dimgray;
    border-radius: 12px;
}

.team-div1 {
    display: flex;
}

.team-div2 {
    display: flex;
}

.img {
    width: 327px;
    height: 272px;
    /* padding: 7px; */
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 18px 10px;
}

.img>h5 {
    color: white;
    font-size: 20px;
    font-weight: 900;
    margin: 200px 0 -40px 30px;
}

.img>h6 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    font-weight: 400;
    margin-left: 30px;
}

.team-div1-1 {
    background-image: url(../assets/trainer1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.team-div1-2 {
    background-image: url(../assets/trainer2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.team-div1-3 {
    background-image: url(../assets/trainer3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.team-div2-1 {
    background-image: url(../assets/trainer4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.team-div2-2 {
    background-image: url(../assets/trainer5.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.team-div2-3 {
    background-image: url(../assets/trainer6.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* style for footer section  */
.footer {
    background-color: black;
    height: 490px;
}

.footer-div {
    display: flex;
}

.footer-div1 {
    margin-left: 15%;
    width: 35%;
}

.footer-div1>h2 {
    color: rgb(230, 83, 60);
    font-size: 70px;
    font-weight: 800;

}

.footer-div1>p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;

}

.footer-div2 {
    width: 20%;
}

.footer-div3 {
    width: 20%;
    margin-right: 10%
}

.footer>p {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.footer-div2>h4,
.footer-div3>h4 {
    font-weight: 700;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

.footer-div2>p,
.footer-div3>p {
    font-weight: 400;
    font-size: 23px;
    color: rgba(255, 255, 255, 0.5);
}

#hr {
    width: 85%;
}

@media screen and (max-width:576px) {
    .section6 {
        height: 1460px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
    }

    .section6>h3 {
        color: rgb(255, 255, 255);
        font-size: 32px;
        font-weight: 900;
        margin-bottom: 20px;
    }

    .section6>p {
        text-align: center;
        margin-bottom: 40px;
        font-size: 14px;
        font-weight: 400;
        margin-top: -8px;
        padding-left:100px ;
        padding-right:100px;
    }

    .meet-team {
        height: 1188px;
        width: 353px;
        padding: 20px;
        background-color: dimgray;
        border-radius: 12px;
    }

    .team-div1 {
        display: flex;
        flex-direction: column;
    }

    .team-div2 {
        display: flex;
        flex-direction: column;
    }

    .team-div1-1 {
        display: none;
    }

    .team-div2-1 {
        display: none;
    }

    .img {
        width: 313px;
        height: 272px;
        /* padding: 7px; */
        border-radius: 18px;
        background-color: rgba(0, 0, 0, 0.2);
        margin: 13px auto;
    }

    .img>h5 {
        color: white;
        font-size: 20px;
        font-weight: 900;
        margin: 200px 0 -40px 30px;
    }

    .img>h6 {
        color: rgba(255, 255, 255, 0.7);
        font-size: 18px;
        font-weight: 400;
        margin-left: 30px;
    }
}

/* .images2{
    height: 260px;
    width: 250px;
    padding: 20px 25px 20px 25px ;
} */